@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;

}
body {
    background-image: linear-gradient(to right, #EA5E15, #EE7532, #000000);
}

main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 5px 20px black;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #EE7532;
    border-radius: 10px;
    text-align: center;
    box-shadow: 1px 1px 2px #8d441d;
}

p {
    text-align: justify;
}